name: Manual Tag Creation

on:
  workflow_dispatch:
    inputs:
      plugin:
        description: 'Which plugin to tag'
        required: true
        type: choice
        options:
          - checkmarx-ast
          - ignite
        default: 'checkmarx-ast'
      version:
        description: 'Version number (e.g. 2.4.0)'
        required: true

jobs:
  tag-creation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - name: Create and push tag
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: |
          if [[ "${{ github.event.inputs.plugin }}" == "checkmarx-ast" ]]; then
            tag="ast-v${{ github.event.inputs.version }}"
          elif [[ "${{ github.event.inputs.plugin }}" == "ignite" ]]; then
            tag="ignite-v${{ github.event.inputs.version }}"
          fi

          echo "Creating tag: ${tag}"
          message='New release'
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git tag -a "${tag}" -m "${message}"
          git push origin "${tag}"
